<div class="container-fluid about-bg">
  <div class="row about-bg-wrapper">
    <div class="col-md-12">
      <div class="text-center text-white">
        <h1 class="py-5">About</h1>
        <h6 class="py-5">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </h6>
        <h6 class="pt-5">住所</h6>
        <p>〒390-1510<br>
        長野県松本市〇〇町
        </p>
        <h6>電話番号</h6>
        <p>0120-000-000</p>
        
        </div>
    </div>
  </div>
</div>

