<div class="container">
    <div class="row">
        <div class="col-md-12 thnx">
            <h4 class="font-weight-bold">
                ご注文ありがとうございました！
            </h4>
        </div>
    </div>
</div>