/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 更新失敗時のレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
}

.about-bg {
   background-image: url('brooke-lark-V4MBq8kue3U-unsplash.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   position: relative;
   background-position: center;
}

.about-bg-wrapper {
   position: absolute;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
}

// .box-background {
//   background-image: url('https://source.unsplash.com/SxHxyNx-6YI');
//   object-fit: cover;
//   width:100%;
//   background-repeat: no-repeat;
//   height: 70vh;
//   position: relative;
//   background-position: center;
// }

// .top-text {
//   color: rgba(255, 255, 255, 1);
//   text-align:center;
//   letter-spacing: 4px;
//   line-height: 1.5rem;
//   vertical-align:bottom;

// }
