// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.delivery_information{
  margin: 30px;

}

.delivdery_form{
  margin: 30px;

}

label{
  margin-right: 10px;
}

.btn{
  margin: 5px;
}

.derivery-info{
  line-height: 50px;
}